/* Main navbar and brand (black)*/
.navbar,
.navbar .navbar-brand {
  color:black;
  background-color:DarkKhaki;
}

.navbar .navbar-nav > li > a {
    color:black;
    background-color:DarkKhaki;
}

 /*-- Main navbar - change when hover/selected  --*/
.navbar .navbar-nav > li > a:hover, .nav > li > a:focus {
    background-color: DarkKhaki;
}
/*-- dropdown colours  --*/
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: white;
    background-color: DarkKhaki;
}


/*-- change navbar dropdown color --*/
.navbar .navbar-nav .open .dropdown-menu > li > a ,
.navbar .navbar-nav .open .dropdown-menu {
    color:black;
}

/* Nav Bar Border*/ 
.navbar {
border-top: 0px solid DarkKhaki;
border-bottom: 0px solid DarkKhaki;
}
